/* External CSS file */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*width and height includes padding and border but not margin*/
}
h2 {
    color:red;
    background-color: lightgray;

}

/* root */

:root {
    --main-color: red;
    --main-bg-color: black;
}

html {
    font-size: 30px;   
    /*color: white;
    background-color: black;*/
    color: var(--main-color);
    background-color: var(--main-bg-color);
}
body {
    padding: 0 10;


}
#parag_1 {
    font-size: 20px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;
    
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize !important;
    text-shadow: 2px 2px 5px red;

    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5;

    color:blue;
    background-color: lightyellow;

    column-count: 3;
    column-gap: 50px;
    column-rule: 1px solid red;

    display: -webkit-box;
    overflow: hidden !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#parag_2 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;
    
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;

    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5;

    color:blue;
    background-color: lightyellow;

    column-count: 3;
    column-gap: 50px;
    column-rule: 1px solid red;

    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.div_class {    
    border: 3px solid blue;

    /* 
    margin settings

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; 
    margin: 10px 20px 30px 40px;
    */

    margin: 50px 100px;

    /* margin settings also applies to padding */

    padding: 20px 30px;

    /*margin settings also applies to box-shadow */

    box-shadow: 1px 1px 5px 5px red;

    /*margin settings also applies to border-radius */

    border-radius: 50%;

    text-align: center;


}

.div_common{

    height: 100px;
    width: 50%;
    margin-bottom: 20px;
    padding: 2rem;
    box-shadow: 1px 10px 1px 10 px rgba(0, 0, 0, 0.7);

}

.div_color {

    color: white;
    background-color: black;


}
.a_link {

    color: red;
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    padding: 0.4rem;
    /* display: none; hide the link entirely*/
    /*visibility: hidden; hide the link but keep the place empty*/

     

}

.a_link:hover {

    color: black;
    background-color: red;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    padding: 0.4rem;

}

.hide {

    display: none;

}

ul {
    font-size: 20px;
    list-style-type: square;
    list-style-type: none;

}

#ul_id {
    list-style-type: square;
    list-style-type: none;

}

#ul_id li {
    color: blue;
    border: solid 1px red;
    display: inline-block;
    padding: 0 10px;
    background-color: beige;


}
#ul_id li:hover {
    color: red;
    background-color: blue;
    border: solid 1px black;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border: solid 1px red;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem;

}
table td, table th {
    border: solid 1px red;
    padding: 0.5rem;
    text-align: center;
}
table td:hover{
    background-color: red;
    color: black;
}

/* selector */
/* p {
    color: red;
    background-color: beige;
} */

/* div> p {
    color: red;
    background-color: green;
}

div>p::before {
    content: "Division ";
    color: purple;
}

p:nth-child(odd){
    color: yellow;
    background-color: beige;
} */

div~p {
    color: cyan;
    background-color: yellow;
}

div+p {
    color: blue;
    background-color: yellow;
}

/* flexbox */

.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: lightgray;
    padding: 10px;
}
.flex_item{
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px red;
}
.flex_item:hover {
    background-color: lightgreen;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    padding: 0.4rem;
}

/* RD */

.my_responsive {
 
    border: 1px solid yellow;
    display: inline-block;
    height: 100px;
    width: 24%;
    background-color: lightblue; 
    width: 19%;
}

@media screen and (max-width: 910px) {
    .my_responsive {
        width: 100%;
        background-color: yellow;
        margin-bottom: 10px;
        width: 49%;
    }
}

@media screen and (max-width: 768px) {
    .my_responsive {
        width: 100%;
        background-color: blue;
        margin-bottom: 10px;
        width: 100%;
    }
}

#transaction_button {
    color: white;
    background-color: black;
    padding: 0.4rem;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
#transaction_button:hover {
    color: black;
    background-color: red;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    padding: 0.4rem;
    transform: rotate(360deg);
}

img {
    max-width: 100%;
    height: auto;
}

#header_id{
    background-image: url('../img/dog_cat.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    /* object-fit: cover; */
    height: 90vh;
}

.gradient1 {
    background: linear-gradient(45deg, red, yellow);
    width: 90%;
    height: 100px;

}

/* FORM */

#form_submit {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px red;
    background-color: rgba(173, 216, 230, 0.904);
}

.form_data > label {
    display: block;
    margin: 10px;
    text-transform: uppercase;
    opacity: 0.7;
}

.form_data > input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 10px;
    border: 1px solid red;
    border-radius: 5%;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    background-color: rgb(233, 214, 128);
}

input[type="submit"], input[type="reset"] {
    background-color: rgb(0, 128, 0);
    color: white;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    padding: 0.4rem;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
} 
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: red;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    padding: 0.4rem;
}